NATS_URL=nats://localhost:4222
NATS_SUBJECT=vm.spawn
NATS_QUEUE_GROUP=vm-workers
MAX_VMS=5
FIRECRACKER_BIN=../alcatraz.core/bin/firecracker-v1.15.1
KERNEL_PATH=../alcatraz.core/linux-amazon/vmlinux
ROOTFS_PATH=../alcatraz.core/rootfs
AGENTFS_DATA=../alcatraz.core/.agentfs
AGENTFS_BIN=/home/dev/.cargo/bin/agentfs
CNI_CONF_DIR=/etc/cni/net.d